*{
    box-sizing: border-box;
    
}

.questionnaire_fon{
    background-color: #f5f5f5;
}



h1{
    font-size: 24px;
    font-weight: 700;
    color: #0ea5e9;
    
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    padding: 5px;
    font-size: 14px;
    color: #737373;
    font-family: 'Source Sans Pro', sans-serif;
}

h2{
    font-size: 20px;
    font-weight: 600;
    color: #171717;
    
    font-family: 'Source Sans Pro', sans-serif;
}

.input_style{
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    height: calc(2.25rem + 2px);
    
}

/*.input_style::placeholder{
    opacity: 0.4;
}*/

.input_style:focus{
    
    border: 2px solid #0284c7;
    outline: 0;
    

}

.questionnaire{
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    margin: 100px auto;
    border-radius: 30px;
    box-shadow: 3px 7px 7px gray; 
}

.row{
    display: flex;
}

.left_content{
    width: 45%;
    background-image: url(pictures/mountains-1.jpg);
    background-position: center;
    border-radius: 30px 0 0 30px;
    
    
}

/*.pictures{
    object-fit: cover;

}*/

.right_content{
    display: flex;
    flex-direction: column;
    width: calc(100% / 2);
    
    padding: 20px 10px 20px 10px;
    

}

.register_block{
    /*display: flex;*/
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #d4d4d4;
    
}



.items{
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #404040;
    
}
.item_reg{
    display: flex;
    width: calc(100% / 2);
    /*justify-content: center;
    align-content: space-around;*/
    padding: 5px 15px 20px 0px;
    gap: 5px;
    flex-direction: column;
}

.item_deli{
    display: flex;
    width: calc(100% / 3);
    /*justify-content: center;
    align-content: space-around;*/
    padding: 5px 15px 20px 0px;
    gap: 5px;
    flex-direction: column;
}

.delivery_block{
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #d4d4d4;
}


.item_delivery{
    display: flex;
    width: 100%;
    padding: 5px 5px 5px 0px;
    gap: 5px;
    flex-direction: column;
}

.country_fon{
    background: #f5f5f5;
}

.notification_block{
    
    margin-bottom: 25px;
    border-bottom: 1px solid #d4d4d4;
}

.checkbox{
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #d4d4d4;
    background-color: #f5f5f5;
}

.checkbox:checked{
    background-color: #0284c7;
    background-image: url(icons/mark_icon.svg);
    background-position: center;
    background-size: contain;
    
}

.choice_checkbox{
    font-size: 16px;
    font-weight: 600;
    color: #171717;
    padding-bottom: 25px;
    
}

.form_submission{
    margin-top: 10px;
    margin-bottom: 25px;
}

button{
    width: 100%;
    border: none;
    background-color: #0ea5e9;
    color: #f5f5f5;
    font-size: 14px;
    height: calc(2.25rem + 2px);
    border-radius: 5px;
}